.wrap {
  display: flex;
  flex-flow: column nowrap;
  box-shadow: 0 0 5px lightgray;
  border-radius: 1rem;
  padding: 1rem;
}

.wrap>img {
  margin-bottom: 1rem;
}

.header {
  margin: 0 0 1rem 0;
  overflow-wrap: break-word;
}

.text {
  overflow-wrap: break-word;
  margin-bottom: 1rem;
}

.tags {
  display: flex;
  flex-flow: row wrap;
  border-top: 1px solid ghostwhite;
}

.tasksList {
  margin: 0 0 1rem 0;
  padding: 0;
  list-style: none;
}