.wrap {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  padding: 1rem;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 0 5px lightgray;
}

.input {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid ghostwhite;
  border-radius: 0.5rem;
  resize: none;
}

.input:focus {
  outline: none;
}

.tagList {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-top: 1px solid ghostwhite;
}

.controlls {
  display: flex;
  align-items: center;
  gap: 1rem;
}