.wrap {
  padding: 0 1rem;
  flex: 4;
}

.notesGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid lightgray;
}

.pinnedHeader {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.pinnedHeader h3{
  margin: 0;
}

.createNote {
  text-align: center;
  padding: 1rem;
}

.createNote>input {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 0 5px lightgray;
}

.createNote>input:focus {
  outline: none;
}

@media screen and (max-width: 992px) {
  .notesGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .notesGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .notesGrid {
    grid-template-columns: 1fr;
  }
}