.wrap {
  display: flex;
  min-width: 576px;
  box-shadow: 0 0 5px lightgray;
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
}

.input {
  width: 100%;
  border: none;
}

.input:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  .wrap {
    min-width: 100%;
  }
}