.wrap {
  border-bottom: 1px solid lightgray;
  background: white;
  display: flex;
  position: sticky;
  top: 0;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.wrap>* {
  margin: 0.5rem;
}

.logo {
  display: flex;
  align-items: center;
}

.icon {
  height: 2rem;
  margin-right: 1rem;
}

.header {
  font-size: 2rem;
  margin: 0;
}

@media screen and (max-width: 992px) {
  .linkTab {
    min-width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .linkTab {
    min-width: 100%;
  }
}