*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}