.wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.form {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  padding: 1rem;
  overflow: hidden;
  border-radius: 1rem;
  background: white;
  box-shadow: 0 0 7px #333;
}

.input {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid ghostwhite;
  border-radius: 0.5rem;
  resize: none;
}

.input:focus {
  outline: none;
}

.tagList {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-top: 1px solid ghostwhite;
}

.controlls {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.paletteModal {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  background: white;
  box-shadow: 0 0 5px lightgray;
  border-radius: 0.3rem;
}

.paletteModal div {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.paletteModal div[data-color="lightpink"] {
  background: lightpink;
}

.paletteModal div[data-color="tomato"] {
  background: tomato;
}

.paletteModal div[data-color="lightskyblue"] {
  background: lightskyblue;
}

.paletteModal div[data-color="lightgreen"] {
  background: lightgreen;
}

.paletteModal div[data-color="lightsalmon"] {
  background: lightsalmon;
}